<aside>
	<button id="new-folder-btn">nowy folder</button>
	<button id="new-file-btn">nowy plik tekstowy</button>
	<form enctype="multipart/form-data" method="POST" action="/upload">
		<input type="file" name="upload" style="display: none;" id="upload" multiple required />
		<input type="button" value="" id="upload-btn" onclick="document.getElementById('upload').click();" />
		<p>[wybierz...]</p>
		<input type="button" value="OK" id="ok-btn" onclick="document.getElementById('submit').click();" />
		<input type="submit" id="submit" style="display: none;" value="Upload" />
	</form>
</aside>

<div id="content">
	<nav>
		{{#each path}}
			<a href="/path?fullPath={{path}}">{{name}}</a> <span class="separator">/</span>
		{{/each}}
	</nav>

	<div id="folders">
		{{#each folders}}
			<div class="folder">
				<div class="header">
					<img src="gfx/folder.png" width="64" alt="">
					<a href="/deleteFolder?name={{this}}">x</a>
				</div>

				<div class="name">
					<a href="/path?folder={{this}}">{{this}}</a>
					<img class="open-rename" src="gfx/rename.png" width="16" height="16" alt="" onclick="document.getElementById('rename-modal').showModal(); document.getElementById('to-rename').value = '{{this}}'">
				</div>
			</div>
		{{/each}}
	</div>

	<div id="files">
		{{#each files}}
			<div class="file">
				<div class="header">
					<img src="gfx/files/{{icon}}.png" width="64" alt="">
					<a href="/deleteFile?name={{name}}">x</a>
				</div>

				<div class="name">
					<a href="/fileEditor?file={{name}}">{{name}}</a>
					<img class="open-rename" src="gfx/rename.png" width="16" height="16" alt="" onclick="document.getElementById('rename-modal').showModal(); document.getElementById('to-rename').value = '{{name}}'">
				</div>
			</div>
		{{/each}}
	</div>
</div>

<dialog id="new-folder-modal" class="modal">
	<form action="/newFolder" method="get">
		<label for="name">Nazwa folderu</label>
		<input type="text" name="name" placeholder="nazwa folderu" required />

		<div>
			<input type="submit" value="OK" id="new-folder-submit" style="display: none;" />
			<input type="button" value="OK" onclick="document.getElementById('new-folder-submit').click();" />
			<input type="button" value="Cancel" id="new-folder-cancel">
		</div>
	</form>
</dialog>

<dialog id="new-file-modal" class="modal">
	<form action="/newFile" method="get">
		<label for="name">Nazwa pliku tekstowego</label>
		<input type="text" name="name" placeholder="nazwa pliku" required />

		<div>
			<input type="submit" value="OK" id="new-file-submit" style="display: none;" />
			<input type="button" value="OK" onclick="document.getElementById('new-file-submit').click();" />
			<input type="button" value="Cancel" id="new-file-cancel">
		</div>
	</form>
</dialog>

<dialog id="rename-modal" class="modal">
	<form action="/rename" method="get">
		<label for="name">Nowa nazwa</label>
		<input type="text" name="newName" placeholder="nazwa pliku" required />
		<input type="hidden" id="to-rename" name="name">

		<div>
			<input type="submit" value="OK" id="rename-submit" style="display: none;" />
			<input type="button" value="OK" onclick="document.getElementById('rename-submit').click();" />
			<input type="button" value="Cancel" id="rename-cancel">
		</div>
	</form>
</dialog>

<script>
	// Folder
	const newFolderBtn = document.getElementById('new-folder-btn');
	const newFolderModal = document.getElementById('new-folder-modal');
	const newFolderCancel = document.getElementById('new-folder-cancel');

	newFolderBtn.onclick = () => newFolderModal.showModal();
	newFolderCancel.onclick = () => newFolderModal.close();

	// File
	const newFileBtn = document.getElementById('new-file-btn');
	const newFileModal = document.getElementById('new-file-modal');
	const newFileCancel = document.getElementById('new-file-cancel');

	newFileBtn.onclick = () => newFileModal.showModal();
	newFileCancel.onclick = () => newFileModal.close();

	// Rename
	const renameModal = document.getElementById('rename-modal');
	const renameCancel = document.getElementById('rename-cancel');

	renameCancel.onclick = () => renameModal.close();

</script>
