<aside>
	<p>file info</aside>
</aside>

<div id="content">
	<p class="info"><span>id: {{file.id}}</span></p>
	<p class="info"><span>name: {{file.name}} </span></p>
	<p class="info"><span>path: {{file.path}} </span></p>
	<p class="info"><span>size: {{file.size}} </span></p>
	<p class="info"><span>type: {{file.type}} </span></p>
	<p class="info"><span>savedate: {{file.lastModifiedDate}}</span></p>
</div>