<aside>
	<p>file info</aside>
</aside>

<div id="content">
	<p class="info"><span>id: </span>{{file.id}}</p>
	<p class="info"><span>name: </span>{{file.name}}</p>
	<p class="info"><span>path: </span>{{file.path}}</p>
	<p class="info"><span>size: </span>{{file.size}}</p>
	<p class="info"><span>type: </span>{{file.type}}</p>
	<p class="info"><span>savedate: </span>{{file.lastModifiedDate}}</p>
</div>
